<%- include("header") -%>

<form action="/" method="post">
    <p>enter your heading</p>
    <input type="text" name="head">
    <p>enter your post</p>
    <input type="text" name="post">
    <button type="submit" name="pub" value="publ">publish</button>
</form>
</div>
</body>